{% extends 'base.html' %}

{% block title %}

<h2>Employee List</h2>

{% endblock %}

{% block content %}
<table class="table-primary">
<ul>
    <thead>
        <tr>
        <th>Employee Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
        <tr>
    {% for employee in employees %}
    <br>
        <td>{{ employee.name }} </td>
        <td><a href="{% url 'employee_update' employee.id %}">Edit</a> - <a href="{% url 'employee_delete' employee.id %}">Delete</a></tr>
        <br>
    {% endfor %}
</tr>

</tbody>
</table>

{% endblock %}