{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login page{% endblock %}

{% block content %}
    <h2>Login</h2>
    
    {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Error:</strong> Please check the form and try again.
        </div>
    {% endif %}

    <form method="post" action="{% url 'signin_url' %}">
        {% csrf_token %}
        {% load crispy_forms_tags %}

        <label for ="u">Enter user name </label>
        <input type="text" id="u" name ="un" placeholder="" class="form-control" autocomplete="off">
        <br><br>

        <label for ="p">Enter password </label>
        <input type="password" id="p" name ="pw" placeholder="" class="form-control" autocomplete="off">
        <br><br>


        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <p>Don't have an account? <a href="{% url 'signup_url' %}">Sign up here</a>.</p>

{% endblock %}
